# ogre ignores
Battle
*.o
.deps
Makefile
Makefile.in
Ogre.log
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
ogre.cfg
stamp-h1
*.swp
*.swo
*.pyc
CEGUI.log
screenshots/
